*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: #002228;
    overflow-x: hidden;
 
   
}
.nav{
    overflow: hidden !important;
    position: sticky;
    top: 0;
    z-index: 999999999999999999999;
}
.Quotes{

   width:100%;
   overflow-x: scroll;
   scroll-snap-type: x mandatory; 
   overflow-x: scroll;
   display: flex;
   scroll-behavior: smooth;
   .items{
    scroll-snap-align: center;
  width: 100vw;
  flex: 0 0 80%; /* Adjust width of the items */
 
   }
   &::-webkit-scrollbar {
    height: 10px; /* Scrollbar height */
  }

&::-webkit-scrollbar-thumb {
    
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
  }
}

header{
    padding: 0 0 !important;
    max-width: inherit !important;
}
.Hero{
    background: url('/public/Hero/Img.png') no-repeat  ;
    background-size: cover;
    object-fit: cover;
    width: inherit;
    background-position: right;

}


.train{


    background: url('/public/Train/Frame 17.png' ) no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px 20px !important;
    padding-top: 8%;
    padding-bottom: 8%;
}

.Effort{
  background: url('/public/Effort/Frame 18.png') no-repeat;
  object-fit: cover;
  height: max-content;
}

@media only screen and (max-width: 700px) {
  .Effort{
    background: url('/public/Effort/Frame 36.jpg') no-repeat;
    object-fit: cover;
    height: max-content;
    background-size: cover;
    border-radius: 50px !important;
  }
  .train{
    background: url('/public/Effort/Frame 36.jpg') no-repeat;
    object-fit: cover;
    height: max-content;
    background-size: cover;
    border-radius: 50px !important;
  }
  .Hero{
    background: url('/public/Hero/mobile.png') no-repeat  ;
    background-size: cover;
    object-fit: cover;
    width: inherit;
    background-position: right;

}
}

.prevnext{
  max-width: 10px !important;
  margin: 0 !important;
  min-width: 50px !important;
}